
<div id="map-container"></div>
<div id="sidebar-container"></div> 
<div id="popover" data-toggle="popover">
	<h5>Anchorage Crime 2010-2017</h5>
	<b class="close-popover">x</b>
	<hr>
	<div id="crime-graph"></div>
</div>
